rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /attendanceState/{uid} {
      allow read, write: if request.auth != null && request.auth.uid == uid;
    }
    match /semesterConfig/{uid} {
      allow read, write: if request.auth != null && request.auth.uid == uid;
    }
  }
}
